<div class="filter-section">
    <div class="filter-label">Filter By Stock:</div>

    <div class="radio-filter-group">
        <label class="radio-option">
            <input
                (change)="onFilterChangeEvent()"
                [(ngModel)]="selectedFilter"
                name="stockFilter"
                type="radio"
                value="all">
            <span class="radio-label">All ({{ all }})</span>
        </label>

        <label class="radio-option">
            <input
                (change)="onFilterChangeEvent()"
                [(ngModel)]="selectedFilter"
                name="stockFilter"
                type="radio"
                value="inStock">
            <span class="radio-label">In Stock ({{ inStock }})</span>
        </label>

        <label class="radio-option">
            <input
                (change)="onFilterChangeEvent()"
                [(ngModel)]="selectedFilter"
                name="stockFilter"
                type="radio"
                value="outOfStock">
            <span class="radio-label">Out of Stock ({{ outStock }})</span>
        </label>
    </div>
</div>
