<div class="container">
    <h1 class="product-section-title">Our Products</h1>

    <app-search
        (onSearchResultChange)="updateSearchText($event)"
        (onSearchTextEmpty)="clearSearchText()"
    />
    <app-filter
        (onFilterChange)="onStockChange($event)"
        [all]="filteredProducts.length"
        [inStock]="getInStockCount()"
        [outStock]="getOutStockCount()"
    />

    <div class="filter-options">
        <div class="sort-by">
            <label class="filter-label">Sort By</label>
            <select class="filter-select">
                <option value="newest">Newest First</option>
                <option value="price-low">Price: Low to High</option>
                <option value="price-high">Price: High to Low</option>
                <option value="popular">Most Popular</option>
            </select>
        </div>
        <div class="filter-by">
            <label class="filter-label">Category</label>
            <select
                [(ngModel)]="filter.category"
                (ngModelChange)="onCategoryChange($event)"
                class="filter-select"
            >
                <option [value]="'All'">All Categories</option>
                <option [value]="'Clothes'">Clothing</option>
                <option [value]="'Electronics'">Electronics</option>
                <option [value]="'Accessories'">Accessories</option>
            </select>
        </div>
    </div>

    <app-product-list #productListComponent [products]="filteredProducts" />

    <app-latest-arrivals />
</div>

@if (productListComponent.selectedProduct) {
<app-product-modal
    (onCloseModalEvent)="productListComponent.selectedProduct = undefined"
    [product]="productListComponent.selectedProduct"
/>
}
