<div class="latest-arrivals-container">
    <h2 class="arrivals-title">Latest Arrivals</h2>

    <div class="brand-arrivals">
        <app-feature-product-card>
            <img
                alt="Nike logo"
                class="brand-logo"
                height="2813"
                ngSrc="assets/nike-logo.jpg"
                width="5000">
            <h3 class="brand-title">Latest in Nike</h3>
            <a class="view-all-btn" href="#">View arrivals in Nike</a>
        </app-feature-product-card>

        <app-feature-product-card>
            <img
                alt="Nike logo"
                class="brand-logo"
                height="650"
                ngSrc="assets/adidas-logo.jpg"
                width="866">
            <h3 class="brand-title">Latest in Adidas</h3>
            <a class="view-all-btn" href="#">View arrivals in Adidas</a>
        </app-feature-product-card>
        <app-feature-product-card>
            <img
                alt="Nike logo"
                class="brand-logo"
                height="1687"
                ngSrc="assets/puma-logo.png"
                width="3000">
            <h3 class="brand-title">Latest in Puma</h3>
            <a class="view-all-btn" href="#">View arrivals in Puma</a>
        </app-feature-product-card>
    </div>
</div>
